body {
  padding-top: 70px;
  padding-bottom: 30px;
}

.btn:focus {
  outline: none;
  
}


.incident-box {
	background-color: #d8d8d8;	
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.my-show-hide-animation {

	  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: backwards;
  animation-fill-mode: backwards;
}

.my-show-hide-animation.ng-hide-add,
.my-show-hide-animation.ng-hide-remove {
  display:block!important;
  -webkit-animation-name: fadeAndSlideFromTop;
  animation-name: fadeAndSlideFromTop;
}
.my-show-hide-animation.ng-hide {
  -webkit-animation-name: fadeAndSlideToTop;
  animation-name: fadeAndSlideToTop;
}

@-webkit-keyframes fadeAndSlideFromTop {
  from {
    opacity: 0;
    -webkit-transform: translateY(-10%);
    transform: translateY(-10%);
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadeAndSlideToTop {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    -webkit-transform: translateY(-10%);
    transform: translateY(-10%);
  }
}
