* {
  margin: 0;
}
html, body {
  height: 100%;
  padding-bottom: 0px;
}

body {
  padding-top: 70px;
  font-size: 12px;
}

.report-calendar {
	padding-top: 30px;	
}

.statboard {
	text-align: center;	
}

.statboard h5 {
	font-size: 24px;
	font-weight: 800;
}

.statboard table td{
	padding: 8px;
	vertical-align: top;
	border-collapse: collapse;
}

.statsnum {
	font-size: 40px;
	font-weight: 800;
}

.statsnum-sm {
	padding-top: 10px;
}

.table-list {
	margin-bottom: 0px;
}

.btn:focus {
  outline: none;
  
}

.agent-alert {
	color: white;
	background-color: red;
	border-radius: 10px;
	padding: 5px;	
}

/* footer section  === === === === === === === === === === === */

.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -100px; 
}
.page-wrap:after {
  content: "";
  display: block;
}
.site-footer, .page-wrap:after {
  /* .push must be the same height as footer */
  height: 100px; 
}
.site-footer {
  background: #101010;
}

#footer-content {
		margin-top: 20px;
		margin-bottom: 20px;
		color: #afafaf;
		font-size: 12px;
		text-decoration: none;
}

#footer-content a {
		color: #afafaf;
		text-decoration: none;

}

#footer-content a:hover {
	color: #afafaf;
}

.footer-icons {
	font-size: 28px;
}

.footer-logo {
		margin-bottom: 25px;
}

.incident-box {
	background-color: #d8d8d8;	
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.my-show-hide-animation {

	  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: backwards;
  animation-fill-mode: backwards;
}

.my-show-hide-animation.ng-hide-add,
.my-show-hide-animation.ng-hide-remove {
  display:block!important;
  -webkit-animation-name: fadeAndSlideFromTop;
  animation-name: fadeAndSlideFromTop;
}
.my-show-hide-animation.ng-hide {
  -webkit-animation-name: fadeAndSlideToTop;
  animation-name: fadeAndSlideToTop;
}

@-webkit-keyframes fadeAndSlideFromTop {
  from {
    opacity: 0;
    -webkit-transform: translateY(-10%);
    transform: translateY(-10%);
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadeAndSlideToTop {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    -webkit-transform: translateY(-10%);
    transform: translateY(-10%);
  }
}
