@(agent: Agent)
<!DOCTYPE html>

<html lang="en" ng-app="ims">

    <head>
    	<meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <meta name="description" content="Incident management system">
	    <meta name="author" content="">
	    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
	    
        <title>IMS</title>
        <!-- Latest compiled and minified bootstrap -->
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
		<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
		
		<!--  Custom styles for this template -->
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        
	    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	    <!--[if lt IE 9]>
	      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	    <![endif]-->  
    </head>
    
    <body role="document">
    
<!-- Fixed navbar -->
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#" style="color:yellow"><strong>IMS <i class="fa fa-fire"></i></strong></a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="@routes.Application.index">Dashboard</a></li>
            <li><a href="#about">New Incident</a></li>
            <li><a href="#/contact">Contacts</a></li>
            <li><a href="#/company">Companies</a></li>
            
          </ul>
          <ul class="nav navbar-nav navbar-right">
        	<li> <a href="@routes.Application.logout()">Logout (@agent.username)</a></li>
       	  </ul>
        </div><!--/.nav-collapse -->
       
      </div>
   
    </div>

	<div class="container theme-showcase" role="main">
	
		<div ng-view></div>
		
	</div>
	
   	<!--client framework -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>	
	<script src="https://code.angularjs.org/1.2.16/angular-route.min.js"></script>
	<script src="@routes.Assets.at("js/controllers/controller.js")"></script>
	
    </body>
</html>