<div>

	<div class="page-header">
		<h2>Company</h2>
	</div>
	
	<form class="form-horizontal" role="form">
				
			
		<div class="form-group">
			<label for="inputName" class="col-sm-2 control-label">Name</label>
			<div class="col-sm-10">
				<input type="text" ng-model="company.name" class="form-control" id="inputName">
			</div>
		</div>

		<div class="form-group">
			<label for="inputAddress1" class="col-sm-2 control-label">Address1</label>
			<div class="col-sm-10">
				<input type="text" ng-model="company.addresses[0].address1" class="form-control" id="inputAddress1">
			</div>
		</div>			
		
		<div class="form-group">
			<label for="inputAddress2" class="col-sm-2 control-label">Address2</label>
			<div class="col-sm-10">
				<input type="text" ng-model="company.addresses[0].address2" class="form-control" id="inputAddress2">
			</div>
		</div>			

		<div class="form-group">
			<label for="inputCity" class="col-sm-2 control-label">City</label>
			<div class="col-sm-10">
				<input type="text" ng-model="company.addresses[0].city" class="form-control" id="inputCity">
			</div>
		</div>			

		<div class="form-group">
			<label for="inputState" class="col-sm-2 control-label">State</label>
			<div class="col-sm-10">
				<input type="text" ng-model="company.addresses[0].state" class="form-control" id="inputState">
			</div>
		</div>			

		<div class="form-group">
			<label for="inputZipcode" class="col-sm-2 control-label">Zipcode</label>
			<div class="col-sm-10">
				<input type="text" ng-model="company.addresses[0].zipcode" class="form-control" id="inputZipcode">
			</div>
		</div>			
										
		<div class="form-group">
			<label for="inputWebsite" class="col-sm-2 control-label">Website</label>
			<div class="col-sm-10">
				<input type="text" ng-model="company.website" class="form-control" id="inputWebsite">
			</div>
		</div>			

		<div class="form-group">
			<label for="inputNotes" class="col-sm-2 control-label">Notes</label>
			<div class="col-sm-10">
				<textarea class="form-control" ng-model="company.notes" rows="3"></textarea>
				<br/>
				<div><button class="btn btn-primary" ng-click="update()">Update</button></div>	
			
			</div>
			
		</div>	
						
	</form>

	<div class="row">
		
		<div class="col-sm-11 col-sm-offset-1">
		
			<h4>Incidents</h4>
			
			<table class="table table-hover">
				<tr>
					<th>ID</th>
					<th>Priority</th>
					<th>Date</th>
					<th>Status</th>
					<th>Category</th>
					<th>Requester</th>
					<th>Subject</th>
				</tr>
				
				<tr ng-repeat="incident in companyIncidents">
					<td><a href="#/incident/{{incident.id}}">{{ incident.id }}</a></td>
					<td>{{ incident.priority }}
						<span ng-show="incident.priority == 1">
							<i class="fa fa-warning"></i>
						</span>
					</td>
					<td>{{ incident.startdate | date:'short'}}</td>
					<td>{{incident.status}}</td>
					<td>{{incident.category.type}}</td>
					<td><a href="#/contacts/{{incident.requester.id}}">{{ incident.requester.fullname }}</a></td>
					<td>{{ incident.subject }}</td>
				</tr>
			
			</table>
		
			<div ng-hide="companyIncidents.length">No incidents found.<br/></div>
		</div>
	</div>	
	
		<div class="row">
		
		<div class="col-sm-10 col-sm-offset-1">
		
			<h4>Contacts</h4>
			
			<table class="table table-hover">
				<tr>
					<th>Fullname</th>
					<th>Email</th>
					<th>Phone</th>

				</tr>
				
				<tr ng-repeat="contact in company.contacts | orderBy : 'fullname'">
					<td><a href="#/contacts/{{contact.id}}">{{ contact.fullname }}</a></td>

					<td>{{contact.email}}</td>
					<td>{{contact.phone}}</td>
				</tr>
			
			</table>
		
			<div ng-hide="company.contacts.length">No contacts found.</div>
		</div>
	</div>	
	
</div>		